# Drivers
Drivers*

# Document files
#*.pdf
#*.doc
#*.docx

# Keil Files
**/*.aux
**/*.log
**/*.gz

**/MDK-ARM/Project.uvguix.*
**/MDK-ARM/*.scvd
**/MDK-ARM/*.lst
**/MDK-ARM/DebugConfig/*.*
**/MDK-ARM/STM32L476G-Discovery/*.*
**/.metadata/*.*
**/RemoteSystemsTempFiles/*.*
**/STM32L476G-Discovery/Debug/*.*
**/STM32L476G-Discovery/.settings/*.*
**/STM32L476G-Discovery/STM32L476G-DISCO.xml
**/STM32L476G-Discovery/STM32L476G-Discovery Run.cfg

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
